h1 {
  position: absolute;
  margin-left: 23%;
  width: 10px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: rgb(13, 29, 55);
}

.text {
  color: white;
}

.feed {
  position: absolute;
  margin-left: 32%;
  padding-left: 25px;
  border: 2px solid rgb(43, 54, 71);
  width: 45%;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;
  gap: 200px;
}
.filter {
    color: white;
    text-align: center;
    margin-bottom: 200px;
}
span{
    margin-left: 125px;
}
.lostboy22{
    padding: 10px;
    margin: auto;
    background-color: white;
    width: 700px;
    height: 500px;
    font-size: 42px;
}
.dazednconfused99{
    padding-bottom: 150px;
    margin: auto;
    background-color: white;
    width: 700px;
    height: 500px;
    font-size: 42px;
}
.lostinmyhead_23{
    padding-bottom: 150px;
    margin: auto;
    background-color: white;
    width: 700px;
    height: 500px;
    font-size: 42px;
}
.d1fumbler12{
    padding-bottom: 500px;
    margin: auto;
    background-color: white;
    width: 700px;
    height: 500px;
    font-size: 42px;
}
